# Archivos y directorios generales
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.idea


# Maven
/target/
/out/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code
.vscode/

# Ignorar archivos específicos del proyecto
HELP.md

# Ignorar configuraciones sensibles (si aplica)
app/j_veterinary/.env

# Inclusiones específicas (si necesitas excepciones)
!app/j_veterinary/src/main/**/target/
!app/j_veterinary/src/test/**/target/

# Excluir archivos de configuración sensibles
app/veterinary/src/main/resources/application.properties
app/veterinary/src/main/resources/*.yml
app/veterinary/src/main/resources/*.yaml

